.header {
    width: 100%;
    min-height: 3rem;
    background-color: var(--primary-accent);
    padding-block: 1rem;
  }
  
  .headerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  @media (min-width: 48rem) {
    .headerFlex {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .createButton {
    color: white;
    margin: 0.5rem 2rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 7px;
  }
  
  @media (min-width: 30rem) {
    .createButton {
      max-width: 10rem;
    }
  }
  
  .createButton:hover,
  .createButton:focus {
    color: var(--action-positive);
    border-color: var(--action-positive);
    outline: none;
  }
  
  .sortLabel {
    margin-right: 1rem;
    color: white;
  }
  
  .sortMenu {
    margin-right: 2rem;
  }