/* -------------------- */
/* Global variables     */
/* -------------------- */

:root {
  /* colors */
  --primary-light-color: #f6ecc9;
  --primary-middle-tone: #f0f0f0;
  --primary-dark-tone: #3c3a33;
  --primary-accent: #4f5166;
  --secondary-accent: #d85c49;
  --action-positive: #cffafa;
  --action-negative: #c0351f;
  --action-update: #738555;

  /* font-families */
  --main: "Mona Sans", serif;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100svh;
  font-family: var(--main);
  background-color: var(--primary-middle-tone);
  color: var(--primary-dark-tone);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

textarea,
input {
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
  font-family: inherit;
}

select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.25rem;
  font-family: inherit;
  color: var(--primary-dark-tone);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* -------------------- */
/* Components           */
/* -------------------- */

.idea-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
  place-items: center;
  padding: 2rem;
}

@media (min-width: 30rem) {
  .idea-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: start legacy;
  }
}

/* -------------------- */
/* Utilities            */
/* -------------------- */

.wrapper {
  max-width: 112rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
