/* -------------------- */
/* Global variables     */
/* -------------------- */

:root {
  /* colors */
  --Primary-light-color: #f6ecc9;
  --Primary-middle-tone: #f0f0f0;
  --Primary-dark-tone: #3c3a33;
  --Primary-accent: #4f5166;

  /* font-families */
  --main: "Mona Sans", serif;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100svh;
  font-family: var(--main);
  background-color: var(--Primary-middle-tone);
  color: var(--Primary-dark-tone);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

textarea,
input {
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
  font-family: inherit;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* -------------------- */
/* Components           */
/* -------------------- */

.header {
  width: 100%;
  min-height: 3rem;
  background-color: var(--Primary-accent);
}

.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 460px) {
  .create-button {
    max-width: 4rem;
    justify-self: end;
  }
}

.create-button {
  color: white;
  margin: 0.5rem 2rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 7px;
}

@media (min-width: 460px) {
  .create-button {
    max-width: 10rem;
  }
}

.create-button:hover {
  color: aquamarine;
}

.sort-label {
  margin-right: 1rem;
  color: white;
}

.sort-menu {
margin-right: 2rem;
}

.wrapper {
  max-width: 1800px;
  margin-inline: auto;
}

.idea-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;
  padding: 2rem;
}

@media (min-width: 460px) {
  .idea-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: start legacy;
  }
}

.idea-tile {
  background-color: var(--Primary-light-color);
  padding: 1rem;
  border-radius: 5px;
  display: grid;
  gap: 1rem;
  border: 0.5px solid var(--Primary-accent);
}

.title-input {
  font-size: 1.5rem;
}

.content-input {
  font-size: 1rem;
  resize: none;
  overflow: hidden;
  max-width: 100%;
}

.title-input:focus,
.content-input:focus {
  outline: 1px solid orangered;
  border-radius: 5px;
}

.idea-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
}

.delete-button {
  background-color: orangered;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
