/* -------------------- */
/* Global variables     */
/* -------------------- */

:root {
  /* colors */
  --primary-light-color: #f6ecc9;
  --primary-middle-tone: #f0f0f0;
  --primary-dark-tone: #3c3a33;
  --primary-accent: #4f5166;
  --secondary-accent: #d85c49;
  --action-positive: #cffafa;
  --action-negative: #c0351f;
  --action-update: #738555;

  /* font-families */
  --main: "Mona Sans", serif;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100svh;
  font-family: var(--main);
  background-color: var(--primary-middle-tone);
  color: var(--primary-dark-tone);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

textarea,
input {
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
  font-family: inherit;
}

select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.25rem;
  font-family: inherit;
  color: var(--primary-dark-tone);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* -------------------- */
/* Components           */
/* -------------------- */

.header {
  width: 100%;
  min-height: 3rem;
  background-color: var(--primary-accent);
  padding-block: 1rem;
}

.header-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .header-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}

.create-button {
  color: white;
  margin: 0.5rem 2rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 7px;
}

@media (min-width: 30rem) {
  .create-button {
    max-width: 10rem;
  }
}

.create-button:hover,
.create-button:focus {
  color: var(--action-positive);
  border-color: var(--action-positive);
  outline: none;
}

.sort-label {
  margin-right: 1rem;
  color: white;
}

.sort-menu {
  margin-right: 2rem;
}

.idea-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
  place-items: center;
  padding: 2rem;
}

@media (min-width: 30rem) {
  .idea-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: start legacy;
  }
}

.idea-tile {
  background-color: var(--primary-light-color);
  padding: 1rem;
  border-radius: 5px;
  display: grid;
  gap: 1rem;
  border: 0.5px solid var(--primary-accent);
}

.title-input {
  font-size: 1.5rem;
}

.content-input {
  font-size: 1rem;
  resize: none;
  overflow: hidden;
  max-width: 100%;
}

.title-input:focus,
.content-input:focus {
  outline: 1px solid var(--secondary-accent);
  border-radius: 5px;
}

.char-countdown {
  color: var(--action-negative);
  padding-inline: 0.5rem;
  text-align: right;
  visibility: hidden;
}

.char-countdown.active {
  visibility: visible;
}

.idea-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
}

.delete-button {
  background-color: var(--secondary-accent);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.delete-button:hover,
.delete-button:focus {
  background-color: var(--action-negative);
  outline: none;
}

.notification {
  background-color: var(--action-update);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100svw;
  padding: 2rem;
  border-radius: 7px;
}

@media (min-width: 30rem) {
  .notification {
    left: 1rem;
    bottom: 1rem;
    min-width: 20%;
  }
}

/* -------------------- */
/* Utilities            */
/* -------------------- */

.wrapper {
  max-width: 112rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
